# see https://github.com/github/gitignore for templates


/.idea/
/src/**/.idea/
/src/**/**/bin/
/src/**/**/obj/
**/.DS_Store
/src/Polimaster.Device.Abstract/Polimaster.Device.Abstract.sln.DotSettings.user
/src/Polimaster.Device.Abstract/.vs/**
/.vs/**